.main
  background: url("../img/home-bg.png") no-repeat center/cover
  padding-top: 35px
  padding-bottom: 300px

.main-menu__list-item
  &:hover
    background-color: #74c7d5
.main-menu__list-item
  @media (max-width: 991px)
    background-color: #808080

  &__home__slider__slide
    display: flex
    justify-content: center
    align-items: center
    height: 100vh